input, button {
    display: block;
    width: 30%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  input {
    border: 1px solid #ccc;
  }
  
  button {
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .error-message {
    color: var(--danger);
    font-size: 0.9rem;
    text-align: center;
  }