/* InputField input */

input {
  background: none;
  border: 1px solid #353535;
  outline: none;
  width: 350px;
  height: 50px;
  padding-left : 0.8rem;
  padding-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50px;
  color: #e9e7e7;
  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,
    rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input:focus {
  outline: none;
  border: 2px solid #2d79f3;
  background-color: rgba(100, 97, 97, 0.337);
  transition: background-color 0.3s ease;
}

input:hover {
  background-color: rgba(26, 25, 25, 0.233);
  border: 2px solid #2d79f3;
  box-shadow:         
        0 0 15px rgba(255, 255, 255, 0.651),
        0 0 25px rgba(255, 255, 255, 0.705);
  transition: background-color 0.3s ease;
}

input::placeholder {
  color: #b6afafda;
  font-size: 1.2rem;
}

.input.recovery-email {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

/* Checkbox input */

input[type='checkbox'] {
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

input[type='checkbox']:hover {
  border: 2px solid #2d79f3; 
  box-shadow: 0 0 10px rgba(220, 221, 221, 0.5);
}

input[type="checkbox"]:checked {
  background-color: #2d79f3;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

.checkbox-container {
  display: inline-flex;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: #f1f1f1
}

.checkbox-label {
  user-select: none;
  line-height: 0.8;
}



